/* .parent {
    margin-bottom: 20px;
    overflow: hidden;
    counter-increment: number;
} */

/* .one {
    background-color: antiquewhite;
    padding: 10px;
    width: 600px;
    float: left;
    position: relative;

}

.one::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: -10px;
    top: 0;
    background-color: aquamarine;
    position: absolute;
    content: counter(number);
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    right: -10px;
    top: 50%;
    margin-top: -10px;




} */

/* .user {
    background-color: antiquewhite;
    width: 50px;
    margin-right: 20px;
    padding: 10px;
    height: 55px;
    float: left;
    font-size: 50px;
    text-align: center;
} */



/* .one::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 10px;
    border-color: transparent aquamarine transparent transparent;
    border-style: solid;
    top: 50%;
    margin-top: -10px;
    left: -21 px;
} */

/* .bt {
    background-color: blue;
    color: wheat;
    position: static;
    padding: 8px 18px;
    margin: 12px;
    border: 2px solid wheat;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
} */
/* :root {
    --mainColor: red;
    --mainPadding: 20px;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    flex-direction: row-reverse;
    /* flex-direction: column-reverse; */
/* flex-wrap: wrap-reverse;
    justify-content: space-between;

}

.flex div {
    background-color: #f00;
    color: white;
    float: left;
    width: calc(96% / 5);
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}

.float div {
    background-color: #f00;
    color: white;
    float: left;
    width: 25%;
    padding: 20px;
    text-align: center;
} */

* {
    box-sizing: border-box;
}

body {

    background-image: linear-gradient(to left, rgb(167, 165, 165), white);
}

.parent {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 800px;
    height: 560px;
    margin: 80px auto;
    border: 1px solid rgb(98, 97, 95);
    border-radius: 4px 7px 4PX 7px;
    -webkit-border-radius: 4px 7px 4PX 7px;
    -moz-border-radius: 4px 7px 4PX 7px;
    -ms-border-radius: 4px 7px 4PX 7px;
    -o-border-radius: 4px 7px 4PX 7px;
    box-shadow: 2px 2px 5px 5px;
    justify-content: center;
    background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0.756));

}

div.left {
    display: flex;
    background-image: url(../css/imges/book-store.jpg);
    width: 550px;
    /* height: inherit; */
    background-repeat: no-repeat;
    background-size: cover;


}

div .right {
    display: flex;
    width: 250px;
    flex-flow: column;
    justify-content: space-around;
    align-content: flex-start;


}

div .rt {

    display: flex;
    padding: 7px;
    flex-flow: column;
    width: inherit;
    height: 460px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    justify-content: space-evenly;
    color: white;
}

.top {
    display: flex;
    height: 200px;
    flex-flow: column;
    justify-content: space-evenly;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.button {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.in1 {
    padding: 7px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.in2 {
    padding: 7px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.in3 {
    padding: 7px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.in4 {
    padding: 7px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

div .lb {
    width: 20px;
    flex-wrap: nowrap;
    display: flex;
    margin: 2px 5px;
}

.lb a {
    display: flex;
    width: 40px;
    padding: 5px 10px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fa {
    padding: 13px 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fa:hover {
    opacity: 0.7;

}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-right: 5px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}